<h1>Edit Team</h1>
<%= form_for :team, url: team_path(@team), method: :patch do |f| %>
<p>
<%= f.label :name %><br>
<%= f.text_field(:name, {:class => 'form-control'}) %><br>
</p>
<p>
<%= f.submit({:class=>'btn btn-primary'}) %>
</p>
<% end %>